/* Global styles for website */

@import url(./static.css);

:root {
    /*ToDo: use color-scheme */


    /* Variables */
    --darker-color: #201f1d;
    --dark-text-color: #f8f7f4;
    --default-font: system-ui;
}

header nav a {
    margin: 0 1vw;
    font-weight: 700;
}

header .profile {
    display: flex;
    align-items: center;
    height: 100%;
}

header .profile .information span {
    display: block;
}

header .profile .information span.name {
    font-weight: bolder;
}

/* test */

.icon {
    margin-right: 8px;
    width: 5vh;
    height: 5vh;
    background-color: var(--dark-text-color);
    border-radius: 50%;
}