/* Global styles for website */

:root {
    /*ToDo: use color-scheme */


    /* Variables */
    --darker-color: #201f1d;
    --dark-text-color: #f8f7f4;
    --default-font: system-ui;
}

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* adjust default styles elements */ 

body {
    width: 100%;
    min-height: 10000px;
    background-color: var(--darker-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
    height: 7vh;
}

header nav a {
    margin: 0 1vw;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: var(--dark-text-color);
    font-family: var(--default-font);
}

a {
    text-decoration: none;
    font-family: var(--default-font);
    color: var(--dark-text-color);
}


/* General Styles */

header .profile {
    display: flex;
    align-items: center;
    height: 100%;
}

header .profile .information span {
    display: block;
}

header .profile .information span.name {
    font-weight: bolder;
}

/* test */

.icon {
    margin-right: 8px;
    width: 5vh;
    height: 5vh;
    background-color: var(--dark-text-color);
    border-radius: 50%;
}