/* animations */

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.2);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(74, 222, 128, 0.4);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.2);
    }
}